configuration {
    modi:                "drun,run,window";
    font:                "JetBrainsMono Nerd Font 13";
    show-icons:          true;
    icon-theme:          "Papirus";
    drun-display-format: "{name}";

    fixed-num-lines:     true;
    sort:                true;
    sorting-method:      "fzf";
    normalize-match:     true;

    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}

@theme "~/.config/rofi/themes/clean.rasi"
